html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  width: 100%; /* تأكد من تمدد الهيدر */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%; /* تأكد من أن كل المحتويات تمتد بمرونة */
}

main {
  width: 100%; /* تمدد على كامل العرض */
  min-height: 100vh; /* تأكد من تغطية كامل ارتفاع الشاشة */
  box-sizing: border-box; /* يضمن أن الحشوة لا تؤثر على الحجم الإجمالي */
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #d7dadf;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#9d07aa,#ff22e6);
  border-radius: 10px;
}